<div class="row">
  <h1>Hard & Soft Skills</h1>
 <div class="text-center col-sm-4 col-md-4 col-lg-4">  
  <circle-progress
  [percent]="80"
  [radius]="100"
  [imageSrc]="'../assets/html5.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [title]="'HTML'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#f7ccf1'"
  [innerStrokeColor]="'#63485f'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">  
  <circle-progress
  [percent]="70"
  [radius]="100"
  [imageSrc]="'../assets/java.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [title]="'JAVA'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#f7ccf1'"
  [innerStrokeColor]="'#63485f'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">  
  <circle-progress
  [percent]="80"
  [radius]="100"
  [imageSrc]="'../assets/css.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [title]="'CSS'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#f7ccf1'"
  [innerStrokeColor]="'#63485f'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">  
  <circle-progress
  [percent]="60"
  [radius]="100"
  [imageSrc]="'../assets/githhub.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [title]="'GITHUB'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#f7ccf1'"
  [innerStrokeColor]="'#63485f'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">  
  <circle-progress
  [percent]="85"
  [radius]="100"
  [imageSrc]="'../assets/ingles.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [title]="'Ingles'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#f7ccf1'"
  [innerStrokeColor]="'#63485f'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">  
  <circle-progress
  [percent]="90"
  [radius]="100"
  [imageSrc]="'../assets/grupo.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [title]="'Trabajo Grupal'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#f7ccf1'"
  [innerStrokeColor]="'#63485f'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>
</div>