<div class="row">
    <h1> Formación Académica</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
         <ul>
            <li>
                <h2> Bachiller en Humanidades y Ciencias Sociales en el colegio "Dr. Enrique Carbó D-40 Obra de Don Bosco"</h2> - <h3>Finalizado-2014</h3>
            </li>
         </ul>
         <ul>
            <li>
                <h2> Curso Procedimiento Administrativo. UADER- FCG</h2> - <h3>Finalizado-2021</h3>
            </li>
         </ul>
         <ul>
            <li>
                <h2> Diplomatura en Programacion Web FullStack. UTN-Facultad Regional Resistencia</h2> - <h3>Finalizado-2022</h3>
            </li>
         </ul>
         <ul>
            <li>
                <h2> Programador web Full-Stack Junior</h2> - <h3>En curso. Argentina Programa</h3>
            </li>
         </ul>
    </div>

</div>
