<div class="row">
    <div class="container">
        <div class="logo">
         
         <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <div>
                <a href="https://github.com/antonellarios979"><img src="../../../assets/githhub.png" id="github"></a>
                <a href=""><img src="../../../assets/email.png" id="correo"></a>
                <button type="button" class="btn btn-outline-light">INGRESO</button>
            </div>
        </div>
    </div>

</div>

