<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
       <ul>
        <li>
            <h2>Municipalidad de Paraná. Entre Ríos</h2> - <h3>(5 años)</h3>
            <p>Me desempeño como empleada administrativa, asistiendo a la Subsecretaría de Obras Sanitarias en la preparación del Despacho administrativo. Así como también efectuando la recepción, registro
                distribución, expedición y archivo de la documentación oficial de la misma. </p>
        </li>
       </ul> 

    </div>
</div>
