<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-5 col-lg-5 parte1">
            <h1>Hotel Don Joaquín</h1>
            <p>El proyecto fue realizado durante la cursada de la Diplomatura en Programación Web FullStack en la primer parte de Porgramador Web Inicial.</p>
            
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <span class="experience__repo"><a href="https://antonellautnprogra.000webhostapp.com/unidad12/"><button class="experiencia__botao--repo">Abrir Proyecto</button></a></span>
            <img src="../../../assets/hotel.png" id="fotoparte1">
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5 parte1">
            <h1>Segundo Proyecto</h1>
            <p>El proyecto fue realizado durante la cursada de la Diplomatura en Programación Web FullStack en la tercer parte de Porgramación con PHP y MySQL.</p>
            
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/t3.png" id="fotoparte1">
        </div>
    </div>
</div>
